@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top8 {
    margin-top: 8px;
}

.top10 {
    margin-top: 10px !important;
}

.top15 {
    margin-top: 15px !important;
}

.top20 {
    margin-top: 20px !important;
}

.top25 {
    margin-top: 25px !important;
}

.top30 {
    margin-top: 30px !important;
}

.top35 {
    margin-top: 35px !important;
}

.top40 {
    margin-top: 40px !important;
}

.top45 {
    margin-top: 45px !important;
}

.top50 {
    margin-top: 50px !important;
}

.top55 {
    margin-top: 55px !important;
}

.top60 {
    margin-top: 60px !important;
}

.top65 {
    margin-top: 65px !important;
}

.top70 {
    margin-top: 70px !important;
}

.top75 {
    margin-top: 75px !important;
}

.top80 {
    margin-top: 80px !important;
}

.top85 {
    margin-top: 85px !important;
}

.top90 {
    margin-top: 90px !important;
}

.top100 {
    margin-top: 100px !important;
}

.top105 {
    margin-top: 105px !important;
}

.top115 {
    margin-top: 115px !important;
}

.top120 {
    margin-top: 120px !important;
}

.top145 {
    margin-top: 145px !important;
}

.top150 {
    margin-top: 150px !important;
}

.top170 {
    margin-top: 170px !important;
}

.top200 {
    margin-top: 200px !important;
}

.top220 {
    margin-top: 220px !important;
}

.top265 {
    margin-top: 265px !important;
}

.top195 {
    margin-top: 195px !important;
}

.top210 {
    margin-top: 210px !important;
}

.top350 {
    margin-top: 350px !important;
}

.top380 {
    margin-top: 380px !important;
}

.top395 {
    margin-top: 395px !important;
}

.top450 {
    margin-top: 450px !important;
}

.bottom5 {
    margin-bottom: 5px !important;
}

.bottom10 {
    margin-bottom: 10px !important;
}

.bottom15 {
    margin-bottom: 15px !important;
}

.bottom20 {
    margin-bottom: 20px !important;
}

.bottom25 {
    margin-bottom: 25px !important;
}

.bottom30 {
    margin-bottom: 30px !important;
}

.bottom35 {
    margin-bottom: 35px !important;
}

.bottom40 {
    margin-bottom: 40px !important;
}

.bottom45 {
    margin-bottom: 45px !important;
}

.bottom50 {
    margin-bottom: 50px !important;
}

.bottom55 {
    margin-bottom: 55px !important;
}

.bottom60 {
    margin-bottom: 60px !important;
}

.bottom60 {
    margin-bottom: 60px !important;
}

.bottom65 {
    margin-bottom: 65px !important;
}

.bottom70 {
    margin-bottom: 70px !important;
}

.bottom75 {
    margin-bottom: 75px !important;
}

.bottom80 {
    margin-bottom: 80px !important;
}

.bottom90 {
    margin-bottom: 90px !important;
}

.bottom100 {
    margin-bottom: 100px !important;
}

.bottom120 {
    margin-bottom: 120px !important;
}

.bottom135 {
    margin-bottom: 135px !important;
}

.bottom180 {
    margin-bottom: 180px !important;
}

.bottom200 {
    margin-bottom: 200px !important;
}

.bottom220 {
    margin-bottom: 220px !important;
}

.bottom280 {
    margin-bottom: 280px !important;
}

.left5 {
    margin-left: 5px;
}

.left10 {
    margin-left: 10px;
}

.left15 {
    margin-left: 15px;
}

.left20 {
    margin-left: 20px;
}

.left25 {
    margin-left: 25px;
}

.left30 {
    margin-left: 30px;
}

.left35 {
    margin-left: 35px;
}

.left40 {
    margin-left: 40px;
}

.left45 {
    margin-left: 45px;
}

.left50 {
    margin-left: 50px;
}

.left55 {
    margin-left: 55px;
}

.left60 {
    margin-left: 60px;
}

.left65 {
    margin-left: 65px;
}

.left70 {
    margin-left: 70px;
}

.left75 {
    margin-left: 75px;
}

.left80 {
    margin-left: 80px;
}

.left81 {
    margin-left: 81px;
}

.left130 {
    margin-left: 130px;
}

.left270 {
    margin-left: 270px;
}

.right5 {
    margin-right: 5px;
}

.right10 {
    margin-right: 10px !important;
}

.right15 {
    margin-right: 15px;
}

.right20 {
    margin-right: 20px;
}

.right22 {
    margin-right: 22px;
}

.right25 {
    margin-right: 25px;
}

.right30 {
    margin-right: 30px;
}

.right35 {
    margin-right: 35px;
}

.right40 {
    margin-right: 40px;
}

.right45 {
    margin-right: 45px;
}

.right50 {
    margin-right: 50px;
}

.right55 {
    margin-right: 55px;
}

.right60 {
    margin-right: 60px;
}

.right65 {
    margin-right: 65px;
}

.right70 {
    margin-right: 70px;
}

.right75 {
    margin-right: 75px;
}

.right80 {
    margin-right: 80px;
}

.right90 {
    margin-right: 90px;
}

.right100 {
    margin-right: 100px;
}

.right130 {
    margin-right: 130px;
}

.pt0 {
    padding-top: 0px !important;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt80 {
    padding-top: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pt300 {
    padding-top: 300px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pl80 {
    padding-left: 80px;
}

.pl100 {
    padding-left: 100px;
}

.pl300 {
    padding-left: 300px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr60 {
    padding-right: 60px;
}

.pr80 {
    padding-right: 80px;
}

.pr100 {
    padding-right: 100px;
}

.pr300 {
    padding-right: 300px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb200 {
    padding-bottom: 200px;
}

.pb280 {
    padding-bottom: 280px;
}

.pb300 {
    padding-bottom: 300px;
}

.pr0 {
    padding-right: 0;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0;
}

.pl5 {
    padding-left: 5px;
}

.pg20 {
    padding: 20px !important;
}

.container {
    width: 1170px !important;
}

.input100 {
    width: 100% !important;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
}

h1 {
    font-size: 20px;
    color: #000;
    margin: inherit;
}

h1 span {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    color: #000;
    font-family: "Lato Bold";
}

h3 {
    color: #000;
    font-size: 17px;
    font-weight: 400;
}

h3 span {}

h4 {
    font-weight: 400;
    color: #000;
    font-size: 20px;
}

h5 {
    font-weight: 400;
    color: #000;
    font-size: 47px;
    line-height: 34px;
    font-family: "Lato Black";
}

h5 span {
    font-size: 22px;
    color: #000;
    font-family: "Lato Black";
}

h6 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    color: #fff;
    font-weight: 400;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 2px 5px #0f0f0f;
}

h6 span {}

p {
    font-size: 17px;
    color: #000;
    text-align: justify;
    font-weight: 300;
}

p span {
    font-size: 18px;
}

.font-futura {
    font-family: futura__condensed;
}

.lato_bold {
    font-family: "Lato Bold";
}

.MyriadPro_Regular {
    font-family: MyriadPro-Regular;
}

.lato_black {
    font-family: "Lato Black";
}

a:hover {
    text-decoration: none !important;
}

.media-left, .media-right, .media-body {
    vertical-align: middle !important;
}

.relativo {
    position: relative;
}

input, select, textarea {
    min-height: 42px;
    color: #000;
    border-radius: 0 !important;
    font-size: 17px;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

:-moz-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

::-moz-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

.btn {
    border-radius: 0px;
}

.padding0 {
    padding: 0px !important;
}


/**
		============================================
		TOPO
		============================================
		*/

.btn_carrinho {
    background: #fff !important;
    -webkit-appearance: inherit !important;
}

.menu .btn_topo {
    color: #fff;
    background: #282c49;
    border: #2e6da4;
}

.menu .btn_topo:hover {
    background: #337ab7;
}

.btn_ligue {
    background: #ffff01 url(../imgs/telefone_prod.png)left 10px center no-repeat;
    color: #000;
    padding: 13px 10px;
    font-family: "Lato Black";
    font-size: 20px;
}

.btn_ligue:hover {
    background: #dcd73c url(../imgs/telefone_prod.png)left 10px center no-repeat;
    color: #000;
    padding: 13px 10px;
}

.dropdown {
    cursor: pointer;
}

.logo {
    position: relative;
    z-index: 10;
}

.badge {
    position: absolute;
    bottom: 7px;
    left: 12px;
    background: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: "Lato Black";
    padding: 7px;
    border-radius: 0;
}

.topo-meu-orcamento {
    background: #fff;
    width: 470px !important;
    margin-left: -339px;
    padding: 15px;
}

.topo_meu_loja {
    width: 1170px !important;
    right: -149px;
    left: inherit;
    cursor: text !important;
    padding-bottom: 20px;
    background: #fff url(../imgs/bg_lojas_topo.png) bottom right no-repeat;
}

.topo_meu_loja_prod {
    width: 1170px !important;
    right: -294px;
    left: inherit;
    cursor: text !important;
    padding-bottom: 20px;
    background: #fff url(../imgs/bg_lojas_topo.png) bottom right no-repeat;
}

.drop_compre{
    width: 1170px !important;
    left: -45%;
    padding-bottom: 20px;
    background: #fff url(../imgs/bg_lojas_topo.png) bottom right no-repeat;
}


.rodape_meu_loja {
    background: #fff;
    width: 1170px !important;
    right: -540px;
    left: inherit;
    padding-bottom: 20px;
}

.meu_loja_map {
    background: #fff;
    width: 393px !important;
    padding: 10px 2px;
}

.lista-itens-carrinho {
    margin: 10px 0px;
    overflow: hidden;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
}

.lista-itens-carrinho h1 {
    font-size: 16px !important;
    margin: inherit;
}

.menu a {
    font-size: 15px;
    color: #000;
    background: url(../imgs/barra_vertical.png) right no-repeat;
}

.menu .navbar-nav>li>a {
    padding: 6px 5px;
    margin-top: 27px;
    background: url(../imgs/barra_vertical.png) right no-repeat;
}


/*.menu .navbar-nav > li > a::after{
		background: none;
		}*/

.menu .nav>li>a:hover, .menu .nav>li>a:focus, .menu .nav li a.active {
    border-bottom: 2px solid #ffff01;
    background: url(../imgs/barra_vertical.png) right no-repeat;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}


/**
		============================================
		TOPO
		============================================
		*/


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ------------------------------- BANNER  ------------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#container_banner {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    margin-top: -101px;
    z-index: 1;
}

#content_slider {
    width: 1920px;
    position: absolute;
    margin-left: -960px;
    top: 0px;
    left: 50%;
}

.container_fundo_servico {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.content_fundo_servico {
    width: 1186px;
    min-height: 831px;
    position: absolute;
    margin-left: -959px;
    top: 0px;
    left: 50%;
    background: #fff;
}

.content_fundo_servico_dentro {
    width: 1186px;
    min-height: 831px;
    position: absolute;
    margin-left: -959px;
    top: 0px;
    left: 50%;
    background: #fff;
}

#content-slider-1 .rsContent {
    height: 100px;
    position: absolute;
    z-index: 1000;
    top: 30px;
    text-align: center;
}

#content-slider-1 .rsContent h1 {
    font-size: 30px;
    color: #fff;
    font-family: "Lato Black";
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

#content-slider-1 .rsTabs {
    width: 150px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    left: 396px;
    top: 460px;
    text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
    background: #fff;
    width: 25px;
    opacity: 0.4;
    height: 25px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    /*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}

#content-slider-1 .rsNavSelected {
    opacity: 1;
    background: #fff;
    /*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}


/*arrow personalizados*/

#container_banner .rsArrowLeft {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_left.png) center no-repeat;
    z-index: 99999;
    bottom: 18px;
    position: absolute;
    left: 368px;
}

#container_banner .rsArrowRight {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_right.png) center no-repeat;
    z-index: 99999;
    bottom: 18px;
    position: absolute;
    right: 1365px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ------------------------------- BANNER  ---------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/**/


/**
		============================================
		rodape
		============================================
		*/

.rodape {
    background: #dfe5e8;
}

.rodape-preto {
    background: #000;
}

.rodape-preto h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.telefone_rodape p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.menu_rodape li a {
    color: #000000;
    font-size: 19px;
    font-weight: 400;
    margin-right: 30px;
}

.icon-rodape {
    color: #000000;
}

.menu_rodape li:hover a, .menu_rodape li.active a {
    font-weight: 400;
    color: #185BA2;
}

.menu_rodape {
    list-style: none;
    padding: 0px;
}

.barra_branca {
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
}

.menu_rodape li {
    float: left;
}


/**
		============================================
		rodape
		============================================
		*/


/**
		============================================
		HOME
		============================================
		*/

#carousel-example-generic-equipe .carousel-indicators, .slider-parceiros-clientes .carousel-indicators, #carousel-example-generic-clientes .carousel-indicators, .slider-parceiros-clientes .carousel-indicators {
    top: -63px;
    right: 0px;
}

#carousel-example-generic-equipe .carousel-indicators li, .slider-parceiros-clientes .carousel-indicators li, #carousel-example-generic-clientes .carousel-indicators li, .slider-parceiros-clientes .carousel-indicators li, #carousel-example-generic-empresa .carousel-indicators li, .slider-parceiros-empresa .carousel-indicators li {
    width: 20px;
    height: 20px;
    background: #7f7f7f;
    border: none;
    margin-right: 5px!important;
}

#carousel-example-generic-equipe .carousel-indicators .active, .slider-parceiros-clientes .carousel-indicators .active, #carousel-example-generic-clientes .carousel-indicators .active, .slider-parceiros-clientes .carousel-indicators .active, #carousel-example-generic-empresa .carousel-indicators .active, .slider-parceiros-empresa .carousel-indicators .active {
    background: #000;
    margin: 1px;
}

#carousel-example-generic-equipe .carousel-control.left, #carousel-example-generic-equipe .carousel-control.right, .slider-parceiros-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-clientes .carousel-control.left, #carousel-example-generic-clientes .carousel-control.right, .slider-parceiros-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-empresa .carousel-control.left, #carousel-example-generic-empresa .carousel-control.right, .slider-parceiros-empresa .carousel-control.left, .slider-parceiros-empresa .carousel-control.right {
    background: none;
}

#carousel-example-generic-equipe .carousel-control.left, .slider-parceiros-clientes .carousel-control.left, #carousel-example-generic-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.left {
    left: 995px;
    top: -66px;
    width: 25px;
    height: 25px;
    z-index: 100;
}

#carousel-example-generic-equipe .carousel-control.right, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-clientes .carousel-control.right, .slider-parceiros-clientes .carousel-control.right {
    right: -14px;
    top: inherit;
    top: -66px;
    width: 40px;
    height: 40px;
    z-index: 100;
}

#carousel-example-generic-equipe .fa-chevron-left, #carousel-example-generic-equipe .fa-chevron-right, .slider-parceiros-clientes .fa-chevron-left, .slider-parceiros-clientes .fa-chevron-right, #carousel-example-generic-clientes .fa-chevron-left, #carousel-example-generic-clientes .fa-chevron-right, .slider-parceiros-clientes .fa-chevron-left, .slider-parceiros-clientes .fa-chevron-right, #carousel-example-generic-empresa .fa-chevron-left, #carousel-example-generic-empresa .fa-chevron-right, .slider-parceiros-empresa .fa-chevron-left, .slider-parceiros-empresa .fa-chevron-right {
    font-size: 20px;
    color: #000;
}


/*.slider-parceiros-equipe .bg_imagem {background: url(../imgs/topo_menu_hover.png);min-height: 90px;}*/

.lista_parceiros_clientes h1 span {
    font-size: 20px;
    color: #000;
    font-family: "Lato Black";
}

.lista_parceiros_clientes .desc_titulo {
    overflow: hidden;
    height: 67px;
}

#carousel-example-generic-clientes .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 84%;
    z-index: 1;
    height: 60px;
    width: 80%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.bg_imagem {
    position: relative;
}

.empresa_titulo h1 {
    font-size: 34px;
    color: #000;
    background: url(../imgs/borda_titulo.png) bottom left no-repeat;
    font-family: "Lato Black";
}

.btn_home_empresa {
    padding: 14px 24px;
    border: 3px solid #131926;
    font-size: 18px;
    color: #000;
    font-family: "Lato Black";
}

.btn_home_empresa:hover {
    background: #edeef0;
}

.btn_produtos_home {
    padding: 16px 24px;
    border: 4px solid #131926;
    font-size: 22px;
    color: #000;
}

.btn_produtos_home:hover {
    background: #d1d3d4;
}

.servicos p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.servicos .servicos_desc {
    overflow: hidden;
    height: 44px;
}

.servicos .servico_tiulo {
    overflow: hidden;
    height: 27px;
}

.bg_servicos_home {
    background: url(../imgs/bg_servicos_home1.jpg) center no-repeat;
    height: 640px;
}

.bg_produtos_home {
    background: #ffff01;
    height: 77px;
    -moz-box-shadow: 1px 1px 8px #000000;
    -webkit-box-shadow: 1px 1px 8px #000000;
    box-shadow: 1px 1px 8px #000000;
}

.btn-drop {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    background: #fff;
}

.busca .form-control {
    border: none;
}

.produtos-home {
    padding: 0px;
    border: none;
}

.produtos-home .img {
    border: 1px solid #eaeaea;
    border-radius: 0px;
}

.produtos-home h1 {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin: inherit;
    margin: inherit;
}

.produto-hover {
    left: 15px;
    background: url(../imgs/fundo_transparente.png);
    width: 262px;
    height: 388px;
    position: absolute;
    top: 0px;
    opacity: 0;
    padding-top: 140px;
}

.produtos-home .caption {
    /*padding:20px 4px !important;*/
}

.menu_subcat a .media.active {
    background: #d8dade !important;
    width: 245px;
}

.bg-produtos-home {
    background: url(../imgs/bg-produtos-home.png)top 109px left no-repeat;
}

.btn_localizacao {
    background: #ffff01 !important;
    color: #000;
    font-weight: 400;
    font-size: 12px !important;
    padding: 6px 14px;
}

.borda .media-left, .borda .media .pull-left, .borda_home .media-left, .borda_home .media .pull-left {
    padding-right: 4px;
}

.btn_localizacao:hover {
    background: #e9df18;
}

.produtos_destaques h1 {
    font-size: 20px;
    margin: inherit;
    font-weight: 400;
}

.menu_categotias.nav>li>a:hover, .menu_categotias.nav>li>a:focus {
    background: none;
    opacity: .5;
}

.menu_categotias.nav>li>a.active {
    background: none;
    opacity: .1;
}

.produtos_destaques h1 {
    font-size: 20px;
    margin: inherit;
    font-weight: 400;
}

.empresa_desc_home p {
    font-size: 22px;
}

.menu_categotias.nav>li>a:hover, .menu_categotias.nav>li>a:focus {
    background: none;
    opacity: .5;
}


/**
		============================================
		HOME
		============================================
		*/

.menu_categotias.nav>li>a.active {
    background: none;
    opacity: .1;
}

.empresa_desc_home p {
    font-size: 22px;
}


/**
		============================================
		EMPRESA
		============================================
		*/

.empresa_geral p {
    font-size: 20px;
    font-weight: 400;
}


/**
	============================================
	HOME
	============================================
	*/


/**
	============================================
	EMPRESA
	============================================
	*/

.empresa_geral p {
    font-size: 20px;
    font-weight: 400;
}

.empresa_geral .desc_empresa_geral {
    min-height: 295px;
    overflow: hidden;
}

min-height: 295px;
overflow: hidden;

}
.empresa_geral .desc_empresa_missao {
    height: 118px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_missao {
    height: 118px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_missao {
    height: 118px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_missao {
    height: 118px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_visao {
    height: 147px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_visao {
    height: 147px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_visao {
    height: 147px;
    overflow: hidden;
}
.empresa_geral .desc_empresa_visao {
    height: 147px;
    overflow: hidden;
}
.nossa_lojas_empresa h3 {
    font-size: 14px;
    font-weight: 400;
}
.nossa_lojas_empresa h1 {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: #000000 !important;
    text-shadow: none !important;
}
.nossa_lojas_empresa h5 span {
    line-height: 10px;
}
/**
		============================================
		EMPRESA
		============================================
		*/
.nossa_lojas_empresa h6 {
    font-size: 30px;
    color: #000;
    text-shadow: none;
}

/**
============================================
EMPRESA
============================================
*/

/**
		============================================
		SERVICOS
		============================================
		*/

/**
============================================
SERVICOS
============================================
*/
.servico_geral h1 {
    font-size: 44px;
    color: #fff;
    font-family: "Lato Black";
    text-shadow: 1px 2px 5px #0f0f0f;
    margin-top: 5px;
}
.servico_geral h1 {
    font-size: 44px;
    color: #fff;
    font-family: "Lato Black";
    text-shadow: 1px 2px 5px #0f0f0f;
    margin-top: 5px;
}
.servico_geral h1 span {
    font-size: 47px;
    color: #fff;
    font-family: "Lato Black";
    text-shadow: 1px 2px 5px #0f0f0f;
    margin-top: 5px;
}
.servico_geral h1 span {
    font-size: 47px;
    color: #fff;
    font-family: "Lato Black";
    text-shadow: 1px 2px 5px #0f0f0f;
    margin-top: 5px;
}
.servico_geral h2 {
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif !important;
}
.servico_geral h2 {
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif !important;
}
.servico_dentro h1 {
    margin: inherit;
    font-size: 34px;
    font-family: "Lato Black";
}
.servico_dentro h1 {
    margin: inherit;
    font-size: 34px;
    font-family: "Lato Black";
}
.servico_geral h5 {
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 2px 5px #0f0f0f;
}
.servico_geral h5 {
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 2px 5px #0f0f0f;
}
.servico_dentro p {
    font-size: 17px;
    font-weight: 400;
}
.servico_dentro p {
    font-size: 17px;
    font-weight: 400;
}
.btn_orcamento_servico {
    padding: 12px;
    background: #ffff01;
    color: #000;
    font-size: 14px;
    font-family: "Lato Black";
    border: none;
}
.btn_orcamento_servico {
    padding: 12px;
    background: #ffff01;
    color: #000;
    font-size: 14px;
    font-family: "Lato Black";
    border: none;
}
.btn_orcamento_servico:hover {
    background: #dfd619;
}
.btn_orcamento_servico:hover {
    background: #dfd619;
}
/**
		============================================
		SERVICOS
		============================================
		*/

/**
============================================
SERVICOS
============================================
*/

/**
		============================================
		DICAS
		============================================
		*/

/**
============================================
DICAS
============================================
*/
.breadcrumb {
    font-size: 21px;
    background: none;
    padding: 15px;
    margin-left: -52px;
    color: #fff;
}
.breadcrumb {
    font-size: 21px;
    background: none;
    padding: 15px;
    margin-left: -52px;
    color: #fff;
}
.breadcrumb i {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
}
.breadcrumb i {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
}
.breadcrumb a i:hover {
    color: #ed3237;
}
.breadcrumb a i:hover {
    color: #ed3237;
}
.breadcrumb i:hover, .breadcrumb a:hover {
    color: #fff;
}
.breadcrumb i:hover, .breadcrumb a:hover {
    color: #fff;
}
.breadcrumb>.active {
    color: #fff;
}
.active1 {
    font-size: 20px;
    color: #fff !important;
    font-family: 'futura__condensed';
    padding-left: 15px !important;
    .breadcrumb>.active {
        color: #fff;
    }

    .active1 {
        font-size: 20px;
        color: #fff !important;
        font-family: 'futura__condensed';
        padding-left: 15px !important;
    }
}
.face {
    margin-top: -6px;
    padding-left: 0px !important;
}
.face {
    margin-top: -6px;
    padding-left: 0px !important;
}
.face:after {
    box-shadow: none !important;
}
.active1 img {
    margin-right: 15px;
}
.face:after {
    box-shadow: none !important;
}
.active1 img {
    margin-right: 15px;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    /*need more margin on the left of links to accomodate the numbers*/

    padding: 0 10px 0 24px;
    position: relative;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    /*need more margin on the left of links to accomodate the numbers*/

    padding: 0 10px 0 24px;
    position: relative;
}
.breadcrumb a:hover {
    .breadcrumb a:hover {
        color: #fff;
        color: #fff;
    }
}
/*hover/active styles*/

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -10px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */

    width: 20px;
    height: 20px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
			length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
			if diagonal required = 1; length = 1/1.414 = 0.707*/

    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/

    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    /*stylish arrow design using box shadow*/

    box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1), 2px -2px 0 1px rgba(255, 255, 255, 1);
    /*
			5px - for rounded arrows and
			50px - to prevent hover glitches on the border created using shadows*/

    border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}

/*hover/active styles*/

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -10px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */

    width: 20px;
    height: 20px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/

    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/

    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    /*stylish arrow design using box shadow*/

    box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1), 2px -2px 0 1px rgba(255, 255, 255, 1);
    /*
	5px - for rounded arrows and
	50px - to prevent hover glitches on the border created using shadows*/

    border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}
.div_personalizada {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.div_personalizada {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/**
		============================================
		DICAS
		============================================
		*/

/**
============================================
DICAS
============================================
*/
.scrollup {
    width: 65px;
    height: 65px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    left: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../imgs/seta_up.png) no-repeat;
    z-index: 9999;
}
.scrollup {
    width: 65px;
    height: 65px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    left: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../imgs/seta_up.png) no-repeat;
    z-index: 9999;
}
/**
		============================================
		PRODUTOS
		============================================
		*/

/**
============================================
PRODUTOS
============================================
*/
.menu-produtos-cat {
    background: #FFFF01;
    height: 50px;
}
.menu-produtos-cat {
    background: #FFFF01;
    height: 50px;
}
.menu_subcat h2 {
    font-size: 13px;
    color: #000;
}
.menu_subcat h2 {
    font-size: 13px;
    color: #000;
}
.menu-produtos-cat h1 {
    font-size: 15px;
    color: #000;
}
.menu-produtos-cat h1 {
    font-size: 15px;
    color: #000;
}
.descricao_tipo_produto h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin: inherit;
    text-shadow: 0px 1px 4px #000000;
    .descricao_tipo_produto h1 {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        margin: inherit;
        text-shadow: 0px 1px 4px #000000;
    }

    .descricao_tipo_produto h2 {
        font-size: 20px;
        color: #000;
        font-family: "Lato Black";
    }

    .descricao_tipo_produto h2 span {
        font-size: 20px;
        font-family: 'Lato', sans-serif !important;
        font-weight: 400;
    }

    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin:inherit;
    text-shadow:0px 1px 4px #000000;
}
.produtos_dentro_desc p {
    font-weight: 400;
    font-size: 17px;
}
.descricao_tipo_produto h2 {
    font-size: 20px;
    color: #000;
    font-family: "Lato Black";
}
.tabela_indicado thead th {
    padding: 10px 5px;
    background: #ffff00;
}
.tabela_indicado table {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.descricao_tipo_produto h2 span {
    font-size: 20px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}
.tabela_indicado .table>tbody>tr>td, .tabela_indicado .table>thead>tr>th {
    padding: 10px 5px;
    border-bottom: 1px solid #ffff00;
}
.produtos_dentro_desc p {
    font-weight: 400;
    font-size: 17px;
}
.produto_cat, .quantidades_prod h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.tabela_indicado thead th {
    padding: 10px 5px;
    background: #ffff00;
}
.tabela_indicado table {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.produto_cat p {
    overflow-x: auto;
    height: 142px;
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}
.tabela_indicado .table>tbody>tr>td, .tabela_indicado .table>thead>tr>th {
    padding: 10px 5px;
    border-bottom: 1px solid #ffff00;
}
.produto_cat p {
    color: #fff;
}
.produto_cat, .quantidades_prod h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.produto_cat p {
    overflow-x: auto;
    height: 142px;
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #eaeaea;
        border-left: 1px solid #ccc;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}
.produto_cat p {
    color: #fff;
}
.video_prod h6 {
    color: #000;
    text-shadow: none;
}
.fa-star:before, .fa-angle-down:before {
    color: #000;
}
.fa-star:before, .fa-angle-down:before {
    color: #000;
}
.fa-minus:before {
    color: #000;
}
.fa-minus:before {
    color: #000;
}

/**
============================================
PRODUTOS
============================================
*/

/**
============================================
PROMOCOES
============================================
*/
.promocoes_titulo h5 {
    color: #fff;
    text-shadow: 0px 1px 4px #000000;
}
.bg_branco {
    background: #fff;
}

.cor-preta{
    color: #000 !important;
}

/**
============================================
PROMOCOES
============================================
*/

/**
============================================
FALE CONOSCO
============================================
*/
.btn_formulario {
    border-radius: 0;
    font-size: 20px;
    color: #fff;
    padding: 15px 25px;
    background: #ed3237;
}
.btn_formulario:hover {
    color: #fff;
    background: #bc302f;
    opacity: 1;
}
.btn_formulario1 {
    border-radius: 0;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    padding: 15px 25px;
    background: #ffff01;
}
.btn_formulario1:hover {
    color: #000;
    background: #dfd619;
    opacity: .9;
}
.contatos-btn-opcoes a.active {
    background: #ff0000;
}
.contatos-btn-opcoes a {
    font-size: 20px;
    color: #fff;
    background: #f6989b;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.contatos-btn-opcoes a span {
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
}
.mapa {
    margin-top: -95px;
}
.mapa_trabalhe {
    margin-top: -200px;
}
.contato_dados h1 {
    margin-top: 10px;
    margin-bottom: 0;
}
.sombra_fale {
    z-index: 99999;
    position: absolute;
    bottom: -27px;
    height: 28px;
    background: url(../imgs/sombra_dicas_geral1.png) center;
    width: 100%;
}
.contato_dados h1 span {
    font-size: 25px;
}
.dicas_Dentro {
    background: #eaeaea;
    position: relative;
    background: #eaeaea;
    position: relative;
}

}

/**
============================================
FALE CONOSCO
============================================
*/

/**
============================================
ORCAMENTOS
============================================
*/
.tabela_carrinho thead th {
    background:#d41f2b;
    padding:10px 5px;
}
.tabela_carrinho table {
    font-size:15px;
    color:#000;
    font-weight:400;
    height: 100px;
}
.tabela_carrinho .table>tbody>tr>td, .tabela_carrinho .table>thead>tr>th {
    vertical-align:middle;
    border-bottom:1px solid #ffff01;
    padding:10px 5px;
}
.fa-times-circle::before {
    color:#ffff01;
    text-shadow:1px 2px 5px #0f0f0f;
}
.bg_cinza {
    background: #eaeaea;
    overflow: hidden;
}
.tabela_carrinho h3, .fundo_formulario h3 {
    color: #000;
    font-size: 21px;
    font-family: "Lato Bold";
}
.input-lista-prod-orcamentos {
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #ffff01;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
}
.carrinho_servcos {
    width: 46px;
    height: 32px;
}
.borda .media {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 14px;
    height: 79px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 14px;
    height: 79px;
}
.borda_home .media {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 14px;
    max-height: 128px;
    width: 428px;
    padding-bottom: 14px;
    max-height: 128px;
    width: 428px;
}
.img_home_lojas {
    width: 421px;
}
.img_home_lojas {
    width: 421px;
}

/**
============================================
ORCAMENTOS
============================================
*/

/**
============================================
Pinterest-like Responsive Grid
============================================
*/
#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.pintrest iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.pintrest img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
stylize any heading tags withing white-panel below
*/
.desc_prod h1 {
    margin-bottom: 10px;
}
.desc_prod h1 {
    margin-bottom: 10px;
}
.btn-busca-prod {
    height: 50px;
    line-height: 50px;
    border-radius: 0px !important;
}
.total-resultado-busca h1, .total-resultado-busca h1 span {
    font-family:"Lato Black";
    font-size: 24px;
    color: #fff;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -1px;
    height: 51px;
}
.produtos_dentro .touchcarousel {
    position: relative;
    width: 100%;
    height: 144px;
    overflow: hidden;
}
.produtos_dentro .touchcarousel .touchcarousel-item {
    margin: 22px 0px;
    padding: 0px 3px;
    float: left;
}
#accordion-lista-lojas .panel-default>.panel-heading {
    color: #333;
    background-color: #FFFF01;
    border-color: #FFFF01;
    border-radius: 0px;
}

#table-promocoes-index tr td {
    border: none !important;
    color: #fff;
	margin: 0px;
	padding: 0px;
    text-shadow: 5px 2px 5px #000000;
    font-family: "Lato Black";
}
#table-promocoes-index .tb-inde-medida {
    font-size: 23px !important;
    margin-left: 30px !important;
}
#table-promocoes-index .tb-inde-aro {
    font-size: 23px !important;
    text-align: left;
}
#table-promocoes-index .tb-inde-medida-2 {
    font-size: 23px !important;
	text-align: left;
}
#table-promocoes-index .tb-inde-titulo {
    font-size: 23px !important;
    font-weight: 300 !important;
}
#table-promocoes-index .tb-inde-preco {
    font-size: 24px !important;
}
#table-promocoes-index .tb-inde-preco font {
    color: #EBD700 !important;
    font-size: 24px !important;
    margin-right: 20px !important;
}

.modal-nossas-lojas .modal-content{
    background: #fff;
    overflow: hidden;
}

.modal-nossas-lojas .modal-content h1{
    color: #000;
    font-size: 20px;
}


.font20{font-size: 20px !important;}

.btn_compre,.btn_compre:hover,.btn_compre:focus,.btn_compre.active{
  padding: 25px 15px;
  font-size: 25px;
  background: #0B4C9E;
  font-family: "Lato Black";
  text-shadow:5px -1px 5px #000000;
  outline: inherit;
  border: 0;
}


.cor-preta-tabela-oferta{
    color: #000 !important;
    text-shadow: 5px 2px 5px #fff !important;
}
