.empresa_geral .desc_empresa_visao
@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}

.top2{margin-top:2px;}
.top4{margin-top:4px;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top120{margin-top:120px;}
.top120{margin-top:120px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top170{margin-top:170px;}
.top175{margin-top:175px;}
.top180{margin-top:180px !important;}
.top195{margin-top:195px;}
.top210{margin-top:210px !important;}
.top220{margin-top:220px !important;}
.top425{margin-top:425px !important;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}


.pg10{padding: 10px !important;}

body{
  font-weight:400;
  font-family: 'Lato', sans-serif !important;
  text-align: justify;
}

h1{
  font-size: 20px;
  color: #000;
}



h1 span {
  font-size: 12px;
  color: #000;
}

h2 {
  font-size: 20px;
  color: #000;
  font-family: "Lato Bold";
}



h3{
  color: #000;
  font-size: 17px;
}

h3 span{

}

h4 {
  font-weight: 400;
  color: #000;
  font-size: 15px;
  font-family:"Lato Black";
}



h5 {
    font-weight: 400;
    color: #000;
    font-size: 30px;
    line-height: 34px;
    font-family: "Lato Black";
}

h5 span{
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

h6{
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-shadow:1px 2px 5px #0f0f0f;
}

h6 span{

}



p{
  font-size: 17px;
  color: #000;
  text-align:justify;
  font-weight: 300;
}

p span{
  font-size: 18px;

}


.font-futura{
  font-family:futura__condensed;
}

.lato_bold{
  font-family:"Lato Bold";}

  .MyriadPro_Regular{
    font-family:MyriadPro-Regular;}

    .lato_black{
      font-family:"Lato Black";
    }

    a:hover{
      text-decoration: none !important;
    }

    .media-left,
    .media-right,
    .media-body {
      vertical-align: middle !important;
    }

    .relativo{
      position: relative;
    }

    input,
    select,
    textarea{
      min-height: 42px;
      color:#000;
      border-radius: 0 !important;
      font-size: 15px;
      font-weight: 300;
    }

    ::-webkit-input-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    :-moz-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    ::-moz-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    :-ms-input-placeholder {
      color      : #000;
      font-family:"Lato Bold";
      font-size  : 20px;
    }

    .btn{
      border-radius: 0px;
    }

    .padding0{
      padding: 0px;
    }
    /**
    ============================================
    TOPO
    ============================================
    */

    .topo-site {
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 100%;
    }
    .topo{
      height: 60px;
      background: #ed3237;
      position: relative;
      z-index: 999;
    }

    .btn_carrinho{
      background: #fff !important;
      -webkit-appearance: inherit !important;
    }

    .carrinho_servcos {
      width: 40px;
      height: 30px;
    }

    .carrinho_servcos_orcamento {
      width: 62px;
      height: 50px;
    }

    .servicos_dentros {
      margin-bottom: 20px;
      width: 60px;
      height: 60px;
    }

    .icon_telefone h2{
      font-size: 20px;
      font-family:"Lato Bold";
      color: #000;

    }
    .icon_telefone img{
      height: 40px;
    }

    .lista-menu a {
      display: block;
      text-align: left;
      color: #000;
    }

    .btn_transparente_topo,
    .btn_transparente_topo:hover {
      background: url(../imgs/topo_menu_hover.png);
      color: #fff;
      font-family:futura__condensed;
      font-size: 17px;
      padding: 2px 10px;
    }

    .btn_transparente_contatos,
    .btn_transparente_contatos:hover {
      background: #ed3237;
      color: #fff;
      font-family:futura__condensed;
      font-size: 17px;
      padding: 2px 10px;
    }

    .topo h2{
      font-family: "Lato Black";
      font-size: 15px;
      color: #000;
    }

    .topo .media-left, .topo .media>.pull-left {
      padding-right: 2px;
    }


    .btn_localizacao{
      background: #ffff01 !important;
      color: #000;
      font-weight: 400;
      font-size: 12px !important;
      padding: 6px 16px;
    }


    .btn_localizacao_topo{
      background: #ffff01 !important;
      color: #000;
      font-weight: 400;
      font-size: 12px !important;
      padding: 6px 11px;
    }

    .nossa_lojas_empresa .media-left, .nossa_lojas_empresa .media>.pull-left {
        padding-right: 2px;
    }

    .topo-meu-orcamento{
      background:#fff;
      width:470px !important;
      margin-right:-4px;
      padding:15px;
    }


    .lista-itens-carrinho{
      margin: 10px 0px;
      overflow: hidden;
      border-bottom: 2px solid #e5e5e5;
      margin-bottom: 20px;
    }


    .lista-itens-carrinho h1{
      font-size: 20px !important;
    }


    .menu a{
      font-size: 18px;
      color: #000;
    }

    /**
    ============================================
    TOPO
    ============================================
    */
    /**
    ============================================
    HOME
    ============================================
    */
    .carroucel-home .carousel-caption{
        text-align: left;
        z-index: 10;
        bottom: inherit;
        top: 42px;
        right: 0;
        left: 20px;
    }
    .carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:451px;}
    .carroucel-home{position:relative; margin-top: 62px;}
    .carroucel-home .carousel-indicators{position:absolute;top:405px;left:37%;z-index:20;width:24%;}
    .carroucel-home li{opacity:0.5;width:20px;height:20px;background:#fff;border:0;margin:3px!important;}
    .carroucel-home li.active{opacity:1;width:20px;height:20px;background:#fff;border:0;margin:3px!important;}
    .carroucel-home .carousel-control{opacity:1;color:#fff;font-size:40px;top:402px;width:20px;z-index:999;}
    .carroucel-home span.fa-angle-right{right:312px;font-size: 30px;color:#fff;position:absolute;}
    .carroucel-home span.fa-angle-left{left:16px;font-size: 30px;color:#fff;position:absolute;}
    .carroucel-home .carousel-control:hover{color:#fff;opacity:0.5;}
    .carroucel-home .carousel,.carroucel-home .carousel .item{height:350px;}

    .carroucel-home .carousel-caption h1{
        font-size: 20px;
        color: #fff;
        font-family:"Lato Black";
        text-align: right;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
        margin-right: 15px;
    }



    #carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{bottom:-50px;}
    #carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:0px;height:0px;background:#7f7f7f;border:none;margin-right:5px!important;}
    #carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
    #carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
    #carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:133px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
    #carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:133px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
    #carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:0px;color:#000;}



    .div_personalizada{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }


    .bg_produtos_home{
      background: #ffff01;
      height: 87px;
      -moz-box-shadow: 1px 1px 8px #000000;
      -webkit-box-shadow: 1px 1px 8px #000000;
      box-shadow: 1px 1px 8px #000000;
    }
    .btn-drop {
      font-weight: 300;
      font-size: 15px;
      color: #000;
      background: #fff;
    }

    .busca .form-control{
      border:none;
    }


    .produtos-home{
      padding:0px;
      border: none;
    }

    .produtos_destaques h1 {
      font-size: 15px;
      font-weight: 400;
      margin: inherit;
      font-family: "Lato Black";
    }

    .produtos-home h1{
      overflow:hidden;
      height:19px;
      font-weight:400;
      font-size: 15px;
      color:#000;

    }

    .btn_produtos_home{
			padding: 16px 24px;
			border:4px solid #131926;
			font-size: 17px;
			color: #000;
		}

		.btn_produtos_home:hover{
			background: #d1d3d4;
		}


    .produtos-home h1 span{
      overflow:hidden;
      height:19px;
font-weight: 400;
    }

    .menu_cat .nav>li {
    position: relative;
    display: block;
    float: left;
}
    .produtos-home .caption {
      padding:10px 2px !important;

    }

    .bg-produtos-home {
      background: url(../imgs/bg-produtos-home.png)top 109px left no-repeat;
    }

    .empresa_titulo h1{
      font-size: 25px;
      color: #000;
      background: url(../imgs/borda_titulo.png) bottom left no-repeat;
      font-family: "Lato Black";
    }

    .bg_servicos_home{
      background: url(../imgs/bg_servicos_home1.jpg) center no-repeat;
      height: 875px;
    }

    .servicos .servicos_desc {
      overflow: hidden;
      height: 44px;
    }

    .servicos p {
      color: #000;
      font-size: 14px;
      font-weight: 400;
    }

    .empresa_desc p{
      font-weight: 400;
    }

    .borda .media,
    .meu_loja_map .media,
    .nossa_lojas_empresa .media{
      border-bottom: 1px solid #cccccc;
      padding-bottom: 14px;
      max-height: 136px;
    }

    /**
    ============================================
    HOME
    ============================================
    */


    /**
    ============================================
    SERVICOS
    ============================================
    */

    .servico_geral h1{
      font-size: 32px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;
      margin-top:5px;
    }

    .servico_geral h1 span{
      font-size: 34px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;
      margin-top:5px;
    }

    .container_fundo_servico {
      width: 100%;
      margin: 0px auto;
      overflow: hidden;
      position: relative;
      z-index: 1;

    }


    .content_fundo_servico {
      width: 395px;
      min-height: 800px;
      position: absolute;
      margin-left: -241px;
      top: 0px;
      left: 50%;
      margin-top: 25px;
      background: #fff;
    }

    .servicos .servico_tiulo{
      overflow: hidden;
      height: 27px;
    }

    .servico_geral h2{
      color: #fff;
      font-weight: 300;
      font-family: 'Lato', sans-serif !important;
    }

    .servico_dentro h1{
      font-size: 25px;
      margin:inherit;
    }

    .servico_geral h5{
      font-size: 19px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;
    }

    .servico_dentro p{
      font-size: 15px;
      font-weight: 400;
    }

    .btn_orcamento_servico{
      padding:12px 19px;
      background: #ffff01;
      color: #000;
      font-size: 14px;
      font-family:"Lato Bold";
      border: none;
    }

    .btn_orcamento_servico1{
      padding:12px 49px 12px 9px;
      background: #ffff01;
      color: #000;
      font-size: 14px;
      font-family:"Lato Bold";
      border: none;
    }


    .servicos img{
      width: 59px;
      height: 50px;
    }

    /*.bg-interna{
    max-height: 1030px;
    }*/

    /**
    ============================================
    SERVICOS
    ============================================
    */


    /**
    ============================================
    rodape
    ============================================
    */

    .bg-fundo-preto p {
      color: #fff;
      font-weight: 700;
      padding: 10px 0px;
      text-align: center;
    }
    .bg-fundo-preto {
      position: relative;
      background: #000;
    }

    .icon-rodape {
      color: #fff;
    }
    /**
    ============================================
    rodape
    ============================================
    */

    /**
    ============================================
    ORCAMENTOS
    ============================================
    */

    .orcamento_geral h1{
      font-size: 41px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;

    }

    .orcamento_geral h1 span{
      font-size: 44px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;
      margin-top:5px;
    }
    .tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
    .tabela_carrinho table{font-size:15px;color:#000;font-weight:400;}
    .tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{vertical-align:middle;border-bottom:1px solid #ffff01;padding:10px 5px;}
    .fa-times-circle::before{color:red;}

    .input-lista-prod-orcamentos {
      width: 32px;
      min-height: 36px !important;
      text-align: center;
      background: #ffff01;
      color: #000;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 13px;
    }

    .tabela_carrinho h5 span,.fundo_formulario h5 span{
      font-size: 20px;
      color: #000;
      font-family:"Lato Bold";
    }

    .tabela_carrinho h3, .fundo_formulario h3 {
      color: #000;
      font-size: 25px;
      font-family: "Lato Bold";
    }

    .fa-times-circle::before {
      color: #ffff01;
      text-shadow: 1px 2px 5px #0f0f0f;
    }

    .fundo-form{
      background: #eaeaea;
    }

    .image_orcamento img{
      width: 59px !important;
      height: 50px !important;
    }

    /**
    ============================================
    ORCAMENTOS
    ============================================
    */



    /**
    ============================================
    EMPRESA
    ============================================
    */
    .empresa_geral p{
      font-size: 17px;
      font-weight: 400;
    }


    .empresa_geral .desc_empresa_geral{
      min-height: 245px;
      overflow: hidden;
    }

    .empresa_geral .desc_empresa_missao{
      height: 124px;
      overflow: hidden;
    }

    .empresa_geral .desc_empresa_visao{
      min-height: 287px;
      overflow: hidden;
    }
    .nossa_lojas_empresa h3 a .nossa_lojas_empresa h3 a span{
      font-size: 14px !important;
    }
    .nossa_lojas_empresa h1{
      font-size: 15px;
    }

    .nossa_lojas_empresa h5 span{
      line-height: 10px;
    }

    .nossa_lojas_empresa h6{
      font-size: 30px;
      color: #000;
      text-shadow: none;
        font-family:"Lato Black";
    }

.video_prod h6{
    color: #000;
    text-shadow: none;
    font-family:"Lato Black";
    font-size: 17px;
}


    /**
    ============================================
    EMPRESA
    ============================================
    */





    /**
    ============================================
    Pinterest-like Responsive Grid
    ============================================
    */

    #pinBoot {
      position: relative;
      max-width: 100%;
      width: 100%;
    }
    .pintrest iframe {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .pintrest img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .white-panel {
      position: absolute;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      padding: 10px;
    }

    .white-panel:hover {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      margin-top: -5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    /*
    stylize any heading tags withing white-panel below
    */


    /**
    ============================================
    FALE CONOSCO
    ============================================
    */

    .contaos_loja{
      margin-top: 0px;
    }
    .trabalhe_geral h1{
      font-size: 25px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;

    }

    .trabalhe_geral h1 span{
      font-size: 28px;
      color: #fff;
      font-weight: 400;
      text-shadow:1px 2px 5px #0f0f0f;
      margin-top:12px;
    }
    .btn_formulario{
      border-radius: 0;
      font-size: 20px;
      color: #fff;
      padding: 15px 25px;
      background: #ed3237;
    }

    .btn_formulario:hover{
      color: #fff;
      background: #bc302f;
      opacity: 1;
    }

    .btn_formulario1{
      border-radius: 0;
      font-size: 20px;
      color: #000;
      padding: 15px 25px;
      background: #ffff01;
    }

    .btn_formulario1:hover{
      color: #000;
      background: #dfd619;
      opacity: .9;
    }

    .sombra_fale {
      z-index: 99999;
      position: absolute;
      bottom: 2px;
      right: 0px;
      height: 28px;
      background: url(../imgs/sombra_lojas.png) center no-repeat;
      width: 100%;
    }

    .contatos-btn-opcoes a.active {
      background: #ff0000;
    }
    .contatos-btn-opcoes a {
      font-size: 20px;
      color: #fff;
      background: #f6989b;
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }

    .contatos-btn-opcoes a span {
      font-size: 21px;
      font-weight: 400;
      text-decoration: none;
    }



    .contato_dados h1{
      margin-top: 10px;
      margin-bottom: 0;
    }


    .contato_dados h1 span{
      font-size: 25px;

    }

    .dicas_Dentro {
      background: #eaeaea;
      position: relative;
      overflow: hidden;

    }
    /**
    ============================================
    FALE CONOSCO
    ============================================
    */

    /**
    ============================================
    PROMOCOES
    ============================================
    */
    .promocoes_titulo h5{
      color: #fff;
      text-shadow:0px 1px 4px #000000;
 font-size: 29px;
    }

    .bg_branco{
      background: #fff;
      overflow: hidden;

    }
    /**
    ============================================
    PROMOCOES
    ============================================
    */


.busca-interna-produtos h1{
  color: #fff;
  font-size: 30px;;
}

.busca-interna-produtos h4{
  color: #fff;
  font-size: 17px;
}


.total-resultado-busca h1{
  font-size: 25px;
  color: #fff;
  font-family:"Lato Black";
}

.total-resultado-busca h1 span{
  font-size: 34px;
  color: #fff;
}


.titulo-produto h1{
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  text-shadow:1px 2px 5px #0f0f0f;
}


.titulo-produto-forma-pagamento h2{
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-shadow:1px 2px 5px #0f0f0f;
}


.linha-img{
  border: 1px solid #ececec;
}

.descricao_tipo_produto h2{
  font-family: "Lato Black";
  font-size: 15px;
}


.descricao_tipo_produto h2 span{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif !important;
}


.produtos_dentro_desc p {
    font-weight: 400;
    font-size: 17px;
}

.tabela_indicado thead th{
    padding: 10px 5px;
    background: #ffff00;
}
.tabela_indicado table{
    font-size  : 20px;
    color      : #000;
    font-weight: 700;
}

.tabela_indicado .table>tbody>tr>td,.tabela_indicado .table>thead>tr>th{
    padding: 10px 5px;
    border-bottom: 1px solid #ffff00;
}

.btn-amarelo, .btn-amarelo:hover{
    background: #FFFF01;
    color: #000;
}

.menu-produtos-cat{
  background:#ffff01;
  height:50px;
}

.menu_subcat h2{
  font-size:13px;
  color:#000;
}

.menu-produtos-cat h1{
  font-size:15px;
  color:#000;
}

.menu-produtos-cat .fa-star:before, .fa-angle-down:before{
    color: #000 !important;
}

.fa-star:before, .fa-angle-down:before {
    color: #fff;
}

.fa-minus:before {
  color: #e5e5e5;
}

.btn_ligue {
  background: #ffff01 url(../../imgs/telefone_prod.png)left 10px center no-repeat;
  color: #000;
    padding: 10px 28px 10px 56px;
    font-family: "Lato Black";
    font-size: 14px;
    width: 229px;
}

.btn-info {
    color: #fff;
    padding: 10px;
    background-color: #5bc0de;
    border-color: #46b8da;
}

/*.btn_ligue:hover {
  background: #dcd73c url(../../imgs/telefone_prod.png)left 10px center no-repeat;
  color: #000;
  padding: 10px 10px;
}*/



#table-promocoes-index tr td {
    border: none !important;
    color: #fff;
	margin: 0px;
	padding: 0px;
    text-shadow: 5px 2px 5px #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 18px;
}
#table-promocoes-index .tb-inde-medida {
    font-size: 15px !important;
    margin-left: 30px !important;
}
#table-promocoes-index .tb-inde-aro {
    font-size: 16px !important;
}
#table-promocoes-index .tb-inde-medida-2 {
    font-size: 16px !important;
	text-align: left;
}
#table-promocoes-index .tb-inde-titulo {
    font-size: 16px !important;
    font-weight: 300 !important;
}
#table-promocoes-index .tb-inde-preco {
    font-size: 17px !important;
}
#table-promocoes-index .tb-inde-preco font {
    color: #EBD700 !important;
    font-size: 17px !important;
    margin-right: 20px !important;
}

.modal-nossas-lojas .modal-content{
    background: #fff;
    overflow: hidden;
}

.modal-nossas-lojas .modal-content h1{
    color: #000;
    font-size: 20px;
}

.cor-preta{
    color: #000 !important;
}

.btn_compre,.btn_compre:hover,.btn_compre:focus,.btn_compre.active{
  padding: 15px 10px;
  font-size: 15px;
  background: #0B4C9E;
  font-family: "Lato Black";
  text-shadow:5px -1px 5px #000000;
  outline: inherit;
  border: 0;
  margin-top: -3px;
}
